node_modules/
server/public/dist
server/logs.json
assets.json
elasticsearch.yml
kibana.yml
esbackup

# pkg manager
yarn-error.log

# Text Editor Configs
.vscode
.idea
client_id

docker-data-volumes/elasticsearch/

#migration
.migrate

esbackup/reso_backup_location
cypress-tests/cypress/screenshots/
cypress-tests/cypress/videos/
cypress-tests/cypress/results/

*.code-workspace
.env
.DS_Store